{{partial "header"}}

<main class="container-fluid my-4">
    <section class="container">
        <h2>Your Create collections</h2>
        <p>You will see all your created collections for provided channel on this page.</p>
        <p>You will also see all the collections created by you in all your channels on the same page, if the page
            doesn't have channel slug at the end in the url.</p>

        {{#each collections}}
        <article class="card m-3">
            <div class="card-body">
                <h3 class="card-title">{{this.name}}</h3>
                <p class="card-text">{{this.summary}}</p>
            </div>
            <div class="card-footer">
                <a href="/movies/list/collection/{{this.id}}" class="btn btn-success btn-sm">View movies</a>
            </div>
        </article>

        {{/each}}

        <nav aria-label="Page navigation example">
            <ul class="pagination mt-4">
                {{#if nextPage}}
                <li class="page-item"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
                {{/if}}
                {{#if previousPage}}
                <li class="page-item"><a class="page-link" href="?page={{previousPage}}">Previous Page</a></li>
                {{/if}}
            </ul>
        </nav>
    </section>
</main>